/* Name: ACCOUNT INFO BOX - adjust the position, color, and border of the account info box */
.account-box {
  /* Shrink to fit content */
  display: inline-block;
  /* Center the text inside */
  text-align: center;
  /* Center actual items themselves */
  align-items: center;

  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
}

label {
  margin-right: 10px;
}

.text-input {
  margin: 20px 0;
}

.password-container input {
  margin-right: 10px;
}

/* Name: SHOW BUTTON STYLES - adjust the color, padding, and cursor of the show button. */
.password-container button {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 8px 12px;
}